ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  # Internally forward /page to /page.php
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.php -f
  RewriteRule ^(.*)$ $1.php [L]

  # Optional: Externally redirect requests with .php to extensionless URL
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
  RewriteRule ^ %1 [R=301,L]
</IfModule>