/* Theme variables */
:root {
  --bg: pink;
  --text: palevioletred;
  --bg2: rgb(172, 136, 203);
  --text2: rgb(92, 27, 114);
  --card: palevioletred;
  --pre: black;
  --pre2: rgb(92, 27, 114);   
}

:root[data-theme="dark"] {
  --bg: #1f1422;     
  --text: #ffe9f7;   
  --card: #2b182f;   
  --pre: #ffe9f7;   
  --pre2: rgb(92, 27, 114);   
}

.container {
  margin-left: 3em;
  width: 20em;
  background-color: var(--card);
  color: var(--pre);
  border-radius: .5em;
}

.inside-container {
  margin-top: 2em;
  margin-left: 2em;
}

.container-hw {
  margin-top: 2em;
  margin-left: 3em;
  background-color: var(--card);
  color: var(--pre);
  border-radius: .5em;
}

.inside-hw-container {
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: 2em
  /*text-align: center;*/
}

.members {
  display: flex;
}

/* Body */
body {
  margin: 2em;
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--bg);
  color: var(--text);
}

about-mymelody,
my-melody-emoticon {
  display: block;
  background-color: pink;
  padding: 1rem;
}

/* This replaces your nested h1, h2, h3, ul, li block */
about-mymelody h1,
about-mymelody h2,
about-mymelody h3,
about-mymelody ul,
about-mymelody li {
  color: var(--text);
}

/* This replaces your nested pre block */
my-melody-emoticon pre {
  color: var(--pre);
}


/*POMPOMPURIN*/
about-pompompurin,
pompompurin-emoticon {
  border-radius: .5em;
  background-color: rgb(255, 233, 192);
  display: block;
  padding: 1rem;
}

/* This replaces your nested h1, h2, h3, ul, li block */
about-pompompurin h1,
about-pompompurin h2,
about-pompompurin h3,
about-pompompurin ul,
about-pompompurin li {
  color: rgb(156, 86, 68);
}

/* This replaces your nested pre block */
pompompurin-emoticon pre {
  color: rgb(156, 86, 68);
}

about-kuromi, kuromi-emoticon {
  display: block;
  background-color: var(--bg2);
  padding: 1rem;
}

about-kuromi h1,
about-kuromi h2,
about-kuromi h3,
about-kuromi ul,
about-kuromi li {
  color: var(--text2);
}

kuromi-emoticon pre {
  color: var(--pre2);
}
